{block title}Nový klient{/block}

{block breadcrumb}
<ol class="breadcrumb" aria-label="breadcrumbs">
    <li class="breadcrumb-item"><a href="{plink default}">Klienti</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nový klient</li>
</ol>
{/block}

{block content}
<div class="card">
    <div class="card-body">
        {control clientForm}
    </div>
</div>
{/block}
