{block title}Nový uživatel{/block}

{block breadcrumb}
<ol class="breadcrumb" aria-label="breadcrumbs">
    <li class="breadcrumb-item"><a href="{plink :Admin:User:default}">Uživatelé</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nový uživatel</li>
</ol>
{/block}

{block content}
<div class="card">
    <div class="card-body">
        {control userForm}
    </div>
</div>
{/block}
